textarea {
  resize: none;
  height: 110px;
}

.footer {
  border: 1px solid;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

select,
input,
textarea {
  border: #999999;
}

.title {
  margin-top: 155px;
}

.section {
  padding-top: 38px;
  padding-bottom: 38px;
}

.uk-margin {
  padding: 8px;
}
