/*
.boites {
  height: auto;
  /*overflow-y: auto;*/
/* width: 100%;
  background-color: #fafafa;
  padding: 76px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 35px;
}
*/
.listevents {
  height: 560px;
  width: 100%; /*950*/
  border: 1px solid;
  padding: 38px 0px; /*38 0*/
  overflow-y: auto;
}

.events div {
  /* border: 1px dashed green;*/
  /* flex: 3;*/
  display: flex;
  justify-content: center;
  align-content: center;
  width: 200px;
  margin: 0px 5px;
}

.events {
  display: flex;
  justify-content: space-around;
  /*border-top: 1px solid;
  border-bottom: 1px solid;*/
  padding: 10px;
  margin: 20px 10px;
  align-items: center;
  width: 80%;
  /* border: 1px solid;*/
}

.affiche {
  height: 260px;
  width: 200px;
}

@media (max-width: 880px) {
  .events {
    flex-direction: column;
  }
}
