* {
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-family: "Raleway", "Dosis", sans-serif;
}

.title {
  margin-top: 145px;
  font-size: 40px;
}

.uk-active {
  margin-left: 38xp;
}

.footer {
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.uk-textarea {
  resize: none;
  height: 200px;
}

.uk-form-label {
  margin-bottom: 20px;
  font-size: 19px;
}

@media (max-width: 360px) {
  .title {
    margin-top: 100px;
  }
}
