html,
body {
  margin: 0px;
}
* {
  font-family: aktiv-grotesk-std;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: #fafafa;
}

.boxInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 38px;
  background-color: #fafafa;
}

.infoevent {
  border: 1px solid #999999;
  width: 50%;
  height: auto;
  padding: 20px;
}

.picture {
  height: 290px;
  width: 195px;
}

p {
  margin: 0px 38px;
}

.infoevent div {
  text-align: center;
  margin: 38px 0px;
}
